@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside, main, nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 35em;
	padding: 1em;
	align-items: baseline;
	flex-basis: 50%;
}
aside {
	float: right;
	margin: 2em;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	clear: both;
}

header {

}

img {
	max-width: 75%;
	
}

main {
	align-content: center;
}

/* main {
	
	margin: 10em;
	padding-right: 5em;
	flex-wrap: wrap;
	width: auto;


} */

nav{
	float: left;
}

/* nav {
	position: relative;
	float: left;


} */

#copyright {
	font-size: 80%;
	
}

#main-container {

}