@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	display: flex;
	flex-direction: column;
	float: right;
	height: 300px;
	width: 50%;
	margin: auto;
	bottom: 500px;

	
}

footer {

}

header {

}

img {
	max-width: 75%;
	
}

main {
	
	margin: 10em;
	padding-right: 5em;

}

nav {
	position: relative;
	float: left;


}

#copyright {
	font-size: 80%;
	
}

#main-container {

}